.naturals {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 400px;
    justify-content: center;
    margin-inline: auto;
    transform:translateX(23px)translateY(-20px);
  }
  .enharmonics {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap:.5rem;
    max-width: 300px;
    justify-content: center;
    margin-inline: auto;
    transform:translateX(-20px)translateY(40px);
  }